@tailwind base;
@tailwind components;
@tailwind utilities;
ul {
    background-origin: padding-box;
    border: 1cm;
    color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}